@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merriweather:wght@300&display=swap");

/* main content */
body {
  background: #2980b9;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #0099f7;
}
a {
  text-decoration: none;
  color: #354548;
}

a:hover {
  text-decoration: none;
  color: #000;
}

.app_container {
  padding-top: 50px;
}
.app_row {
  height: 86vh;
}

.app__main-content {
  background-color: #fff;
  border-radius: 20px;
  padding: 25px 15px;
  box-shadow: 0 0 10px black;
}

@media (max-width: 991px) {
  .app__main-content {
    margin: 10px 0;
  }
}
@media (max-width: 600px) {
  .app__main-content {
    margin: 10px 10px ;
  }

  .navbar__active {
    font-size: 1.5rem;
  }

  .navbar__item {
    font-size: 1rem;
  }
}

/* end main content */




